<div class="m-3"><h3>Produtos</h3></div>
<div *ngFor="let produto of produtos; let i = index"
  class="row py-2 mx-0 border mx-3" [class.bg-light]="i % 2 == 0">
  <div class="col-1">
    <span class="font-weight-bold">ID:</span> {{produto.id}}
  </div>
  <div class="col-8">
    <span class="font-weight-bold">Nome:</span> {{produto.nome}}
  </div>
  <div class="col-2">
    <span class="font-weight-bold">Preço:</span> R$ {{produto.preco}},00
  </div>
  <div class="col-1">
    <div class="row justify-content-around">
      <button 
        class="btn btn-primary btn-sm mr-md-1 table-button">
        <span class="fa fa-edit"></span>
        <span>Abrir</span>
      </button>
    </div>
  </div>
</div>